<!DOCTYPE html>
<html xmls:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8" />
	<!--<title th:text="${titulo}"></title>-->
	<title>Vcard</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<div>
		<h2>LISTA VCARDS</h2>
	<table class="table">

		<tbody>
			<tr>
				<td style="background-color: coral;" align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
				<a href="https://www.w3schools.com/html/html_responsive.asp" target="_blank"><img src="avatar.png" alt="Error al cargar imagen"></a >
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
			<tr>
				<td style="background-color: azure;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
			<tr>
				<td style="background-color: beige;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
			<tr>
				<td style="background-color: floralwhite;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
		<div class="card">
        <div class="image">
          <img src="ejemplo.png"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Alejandro Coraizaca<br><span>Ejecutivo de Ventas</span></h1>
            <p>Azogues, Ecuador</p>
            <p>bytron Solutions</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <br>
		<br>
      <div class="card">
        <div class="image">
          <img src="ejemplo.png"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Alejandro Coraizaca<br><span>Ejecutivo de Ventas</span></h1>
            <p>Azogues, Ecuador</p>
            <p>bytron Solutions</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <br>
<br>
      <div class="card">
        <div class="image">
          <img src="ejemplo.png"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Alejandro Coraizaca<br><span>Ejecutivo de Ventas</span></h1>
            <p>Azogues, Ecuador</p>
            <p>bytron Solutions</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <br>
<br>
      <div class="card">
        <div class="image">
          <img src="ejemplo.png"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Alejandro Coraizaca<br><span>Ejecutivo de Ventas</span></h1>
            <p>Azogues, Ecuador</p>
            <p>bytron Solutions</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</div>


</body>

</html>